
/.idea
.idea/*.*

*.ipr
*.iws
*.iml

# IntelliJ
out/

### Java ###
*.class


*.jar
*.war

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Gradle ###
.gradle
build/

# Logs should be excluded
*.log
logs
